<p><%= link_to "Authorize Facebook", "https://www.facebook.com/dialog/oauth?client_id=249187265194708&redirect_uri=http://localhost:3000/auth/facebook&scope=friends_location" %><p>
	
<p><%= link_to "Get Friends", '/users/get_friends' %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Facebook access token:</b>
  <%= @user.facebook_access_token %>
</p>

<p>
  <b>Facebook ID:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
